.tree { margin: 1em; }

.tree input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  }

.tree input ~ ul { display: none; }

.tree input:checked ~ ul { display: block; }

/* ————————————————————–
  Tree rows
*/
.tree li {
  line-height: 1.2;
  position: relative;
  padding: 0 0 1em 1em;
  }

.tree ul li { padding: 1em 0 0 1em; }

.tree > li:last-child { padding-bottom: 0; }

/* ————————————————————–
  Tree labels
*/
.tree_label {
  position: relative;
  display: inline-block;
  background: #fff;
  }

  span.tree_label { cursor: pointer; }

  span.tree_label:hover { color: #666; }

/* ————————————————————–
  Tree expanded icon
*/



/* ————————————————————–
  Tree branches
*/
.tree li:before {
    position: absolute;
    top: 4px;
    bottom: 0;
    height: 55px;
    left: -0.5em;
    display: block;
    width: 0;
    border-left: 1px solid #777;
    content: "";
}

.tree_label:after {
    position: absolute;
    top: 9px;
    background: #000;
    left: -100px;
    display: block;
    height: 1px;
    width: 93px;
    border-bottom: 1px solid #777;
    /* border-left: 1px solid #777; */
    border-radius: 0 0 0 0.3em;
    content: '';
  }

  span.tree_label:after { border-bottom: 0; }

:checked ~ span.tree_label:after {
  border-radius: 0 .3em 0 0;
  border-top: 1px solid #777;
  border-right: 1px solid #777;
  border-bottom: 0;
  border-left: 0;
  bottom: 0;
  top: 0.5em;
  height: auto;
  }

.tree li:last-child:before {
  height: 1em;
  bottom: auto;
  }

.tree > li:last-child:before { display: none; }

      ul.tree li {
        list-style: none;
    }

    .tree_label:before {
        content: "";
        position: absolute;
        background: #000;
        height: 37px;
        width: 1px;
        left: -8px;
        top: 9px;
    }